Code/
dconf/
discord/
Electron/
GitHub*Desktop/
go/
google-chrome/
gtk-3.0/
mozilla/
nautilus/
pulse/
sublime-text/
Thunar/
yay/
xfce4/
pavucontrol.ini
mimeapps.list
*.log
*.pid
*.seed
*.pid.lock
*.swp
*.swo
*.bak



