@import "colors.css";

* {
  all: unset;
  font-family: "Ubuntu";
  font-size: 1rem;
}

window#waybar {
  background: transparent;
  color: @on_surface;
}

tooltip {
  background: @background;
  border: 1px solid @border;
  border-radius: 30px;
}
tooltip label {
  color: @on_surface;
}

#clock,
#pulseaudio,
#network {
  padding: 12px;
  background-color: @background;
  color: @on_surface;
  border-radius: 50px;
  margin: 3px 5px 0px 5px;
  transition: width 0.3s ease, padding 0.3s ease, background-color 0.3s ease;
  opacity: 0.8;
}

#workspaces button {
  padding: 11px;
  background-color: @background;
  color: @on_surface;
  border-radius: 10px;
  margin: 3px 2px 0px 4px;
  opacity: 0.8;
}

#workspaces button.active {
  background-color: @on_primary_container;
  color: @background;
}

#clock:hover,
#pulseaudio:hover,
#network:hover {
  background-color: @on_primary_container;
  color: @background;
}

#workspaces button:hover {
  background-color: @on_primary_container;
  color: @background;
}

#mode,
#clock {
  padding: 0 10px;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
