* {
  border: none;
  border-radius: 0;
  font-family: "Ubuntu";
  font-size: 1rem;
  min-height: 0;
}

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#clock,
#pulseaudio,
#network {
  padding: 10px;
  background-color: #2f3b4b;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727d;
  border-bottom: 3px solid white;
}

#mode,
#clock,
#battery {
  padding: 0 10px;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
